<div class="validator-window">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="jmbgForm" (ngSubmit)="onSubmit()">
        <div>
          <label>
            <input type="radio" value="Male" formControlName="gender">
              <span>male</span>
          </label>
          <label>
            <input type="radio" value="Female" formControlName="gender">
              <span>female</span>
          </label>
          <label for="name">
            JMBG
          </label>
          <input id="name" type="text" formControlName="jmbg">
        </div>
          <button class="button" type="submit">Validate</button>
      </form>
    </div>
  </div>
</div>